body {
  border: 0;
  padding: 0;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-family: "Helvetica", "Arial", sans-serif;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
}

.component {
  visibility: hidden;
  z-index: -1000;
  position: absolute;
}

define .item-background {
  color: #9cf;
}

define .item-standby {
  color: #69c;
}

define .item-highlight {
  color: #369;
}

define .looper-marker-standby {
  color: #c88;
}

define .looper-marker-highlight {
  color: #c00;
}

#looper {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}
